-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: eigym
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `attendance`
--

DROP TABLE IF EXISTS `attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attendance` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `memberId` int(11) NOT NULL,
  `date` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `method` varchar(191) NOT NULL,
  `accessAllowed` tinyint(1) NOT NULL DEFAULT 1,
  `scheduleId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Attendance_scheduleId_fkey` (`scheduleId`),
  KEY `Attendance_memberId_fkey` (`memberId`),
  CONSTRAINT `Attendance_memberId_fkey` FOREIGN KEY (`memberId`) REFERENCES `member` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Attendance_scheduleId_fkey` FOREIGN KEY (`scheduleId`) REFERENCES `schedule` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance`
--

LOCK TABLES `attendance` WRITE;
/*!40000 ALTER TABLE `attendance` DISABLE KEYS */;
INSERT INTO `attendance` VALUES (1,5,'2026-05-08 22:02:55.381','MANUAL',1,NULL),(2,4,'2026-05-08 22:03:09.371','MANUAL',1,NULL),(3,7,'2026-05-09 21:14:06.127','MANUAL',1,6);
/*!40000 ALTER TABLE `attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cashsession`
--

DROP TABLE IF EXISTS `cashsession`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cashsession` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `userId` int(11) NOT NULL,
  `gymId` int(11) NOT NULL,
  `openedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `closedAt` datetime(3) DEFAULT NULL,
  `initialAmount` decimal(10,2) NOT NULL,
  `finalAmount` decimal(10,2) DEFAULT NULL,
  `expectedAmount` decimal(10,2) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'OPEN',
  `notes` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `CashSession_userId_idx` (`userId`),
  KEY `CashSession_gymId_idx` (`gymId`),
  CONSTRAINT `CashSession_gymId_fkey` FOREIGN KEY (`gymId`) REFERENCES `gym` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `CashSession_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cashsession`
--

LOCK TABLES `cashsession` WRITE;
/*!40000 ALTER TABLE `cashsession` DISABLE KEYS */;
INSERT INTO `cashsession` VALUES (1,1,1,'2026-05-08 16:25:37.723','2026-05-10 18:51:21.480',0.00,1201.30,1201.36,'CLOSED',''),(2,3,1,'2026-05-10 18:51:29.405',NULL,100.00,NULL,NULL,'OPEN','');
/*!40000 ALTER TABLE `cashsession` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cashtransaction`
--

DROP TABLE IF EXISTS `cashtransaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cashtransaction` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sessionId` int(11) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `type` varchar(191) NOT NULL,
  `category` varchar(191) NOT NULL,
  `description` varchar(191) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'COMPLETED',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `method` varchar(191) DEFAULT 'CASH',
  PRIMARY KEY (`id`),
  KEY `CashTransaction_sessionId_idx` (`sessionId`),
  CONSTRAINT `CashTransaction_sessionId_fkey` FOREIGN KEY (`sessionId`) REFERENCES `cashsession` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cashtransaction`
--

LOCK TABLES `cashtransaction` WRITE;
/*!40000 ALTER TABLE `cashtransaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `cashtransaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipment`
--

DROP TABLE IF EXISTS `equipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `equipment` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `gymId` int(11) NOT NULL,
  `name` varchar(191) NOT NULL,
  `description` varchar(191) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'OPERATIONAL',
  `location` varchar(191) DEFAULT NULL,
  `purchaseDate` datetime(3) DEFAULT NULL,
  `lastMaintenance` datetime(3) DEFAULT NULL,
  `photoUrl` longtext DEFAULT NULL,
  `notes` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Equipment_gymId_idx` (`gymId`),
  CONSTRAINT `Equipment_gymId_fkey` FOREIGN KEY (`gymId`) REFERENCES `gym` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment`
--

LOCK TABLES `equipment` WRITE;
/*!40000 ALTER TABLE `equipment` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gym`
--

DROP TABLE IF EXISTS `gym`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gym` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `slug` varchar(191) NOT NULL,
  `logoUrl` varchar(191) DEFAULT NULL,
  `address` varchar(191) DEFAULT NULL,
  `phone` varchar(191) DEFAULT NULL,
  `email` varchar(191) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `subscriptionExpiresAt` datetime(3) DEFAULT NULL,
  `subscriptionPlan` varchar(191) NOT NULL DEFAULT 'TRIAL',
  `subscriptionAmount` decimal(10,2) DEFAULT NULL,
  `subscriptionDescription` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Gym_slug_key` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gym`
--

LOCK TABLES `gym` WRITE;
/*!40000 ALTER TABLE `gym` DISABLE KEYS */;
/*!40000 ALTER TABLE `gym` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gymclass`
--

DROP TABLE IF EXISTS `gymclass`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gymclass` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `gymId` int(11) NOT NULL,
  `name` varchar(191) NOT NULL,
  `description` varchar(191) DEFAULT NULL,
  `color` varchar(191) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `GymClass_gymId_idx` (`gymId`),
  CONSTRAINT `GymClass_gymId_fkey` FOREIGN KEY (`gymId`) REFERENCES `gym` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gymclass`
--

LOCK TABLES `gymclass` WRITE;
/*!40000 ALTER TABLE `gymclass` DISABLE KEYS */;
INSERT INTO `gymclass` VALUES (1,1,'step','','#34D399',1,'2026-05-07 22:16:31.962','2026-05-07 22:21:40.185'),(2,1,'yoga','','#7C3AED',1,'2026-05-07 22:16:40.128','2026-05-07 22:16:40.128'),(5,3,'Step','','#34D399',1,'2026-05-09 19:32:21.868','2026-05-09 19:32:21.868'),(6,3,'Crossfit','','#A78BFA',1,'2026-05-09 21:09:18.301','2026-05-09 21:09:23.072'),(7,3,'xbox','','#F472B6',1,'2026-05-09 21:09:32.695','2026-05-09 21:09:32.695');
/*!40000 ALTER TABLE `gymclass` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gymregistration`
--

DROP TABLE IF EXISTS `gymregistration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gymregistration` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `gymName` varchar(191) NOT NULL,
  `contactName` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `phone` varchar(191) NOT NULL,
  `address` varchar(191) DEFAULT NULL,
  `notes` longtext DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'PENDING',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `password` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gymregistration`
--

LOCK TABLES `gymregistration` WRITE;
/*!40000 ALTER TABLE `gymregistration` DISABLE KEYS */;
/*!40000 ALTER TABLE `gymregistration` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member`
--

DROP TABLE IF EXISTS `member`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `member` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `gymId` int(11) NOT NULL,
  `firstName` varchar(191) NOT NULL,
  `lastName` varchar(191) NOT NULL,
  `dni` varchar(191) NOT NULL,
  `phone` varchar(191) DEFAULT NULL,
  `email` varchar(191) DEFAULT NULL,
  `birthday` datetime(3) DEFAULT NULL,
  `address` varchar(191) DEFAULT NULL,
  `photoUrl` longtext DEFAULT NULL,
  `fingerprintId` varchar(191) DEFAULT NULL,
  `qrCode` varchar(191) DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE','SUSPENDED') NOT NULL DEFAULT 'ACTIVE',
  `registrationDate` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `notes` longtext DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Member_gymId_dni_key` (`gymId`,`dni`),
  UNIQUE KEY `Member_gymId_fingerprintId_key` (`gymId`,`fingerprintId`),
  UNIQUE KEY `Member_gymId_qrCode_key` (`gymId`,`qrCode`),
  KEY `Member_gymId_idx` (`gymId`),
  CONSTRAINT `Member_gymId_fkey` FOREIGN KEY (`gymId`) REFERENCES `gym` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member`
--

LOCK TABLES `member` WRITE;
/*!40000 ALTER TABLE `member` DISABLE KEYS */;
/*!40000 ALTER TABLE `member` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `membership`
--

DROP TABLE IF EXISTS `membership`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `membership` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `memberId` int(11) NOT NULL,
  `planId` int(11) NOT NULL,
  `startDate` datetime(3) NOT NULL,
  `endDate` datetime(3) NOT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'ACTIVE',
  `price` decimal(10,2) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Membership_memberId_fkey` (`memberId`),
  KEY `Membership_planId_fkey` (`planId`),
  CONSTRAINT `Membership_memberId_fkey` FOREIGN KEY (`memberId`) REFERENCES `member` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Membership_planId_fkey` FOREIGN KEY (`planId`) REFERENCES `plan` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `membership`
--

LOCK TABLES `membership` WRITE;
/*!40000 ALTER TABLE `membership` DISABLE KEYS */;
INSERT INTO `membership` VALUES (1,4,1,'2026-05-07 22:17:55.543','2026-06-06 22:17:55.543','ACTIVE',100.00,'2026-05-07 22:17:55.538','2026-05-07 22:17:55.538'),(2,5,1,'2026-05-08 21:18:17.889','2026-06-07 21:18:17.889','ACTIVE',100.00,'2026-05-08 21:18:17.885','2026-05-08 21:18:17.885'),(3,6,1,'2026-05-08 23:54:49.115','2026-06-07 23:54:49.115','ACTIVE',100.00,'2026-05-08 23:54:49.112','2026-05-08 23:54:49.112'),(4,7,2,'2026-05-09 20:36:26.670','2026-06-08 20:36:26.670','ACTIVE',233.00,'2026-05-09 20:36:26.658','2026-05-09 20:36:26.658');
/*!40000 ALTER TABLE `membership` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment`
--

DROP TABLE IF EXISTS `payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `gymId` int(11) NOT NULL,
  `memberId` int(11) DEFAULT NULL,
  `membershipId` int(11) DEFAULT NULL,
  `saleId` int(11) DEFAULT NULL,
  `specialClassRegistrationId` int(11) DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL,
  `method` enum('CASH','CARD','TRANSFER','YAPE','PLIN') NOT NULL,
  `type` varchar(191) NOT NULL,
  `date` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `status` varchar(191) NOT NULL DEFAULT 'COMPLETED',
  `notes` varchar(191) DEFAULT NULL,
  `cashSessionId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Payment_gymId_idx` (`gymId`),
  KEY `Payment_memberId_fkey` (`memberId`),
  KEY `Payment_membershipId_fkey` (`membershipId`),
  KEY `Payment_saleId_fkey` (`saleId`),
  KEY `Payment_cashSessionId_fkey` (`cashSessionId`),
  KEY `Payment_specialClassRegistrationId_fkey` (`specialClassRegistrationId`),
  CONSTRAINT `Payment_cashSessionId_fkey` FOREIGN KEY (`cashSessionId`) REFERENCES `cashsession` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Payment_gymId_fkey` FOREIGN KEY (`gymId`) REFERENCES `gym` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `Payment_memberId_fkey` FOREIGN KEY (`memberId`) REFERENCES `member` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Payment_membershipId_fkey` FOREIGN KEY (`membershipId`) REFERENCES `membership` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Payment_saleId_fkey` FOREIGN KEY (`saleId`) REFERENCES `sale` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Payment_specialClassRegistrationId_fkey` FOREIGN KEY (`specialClassRegistrationId`) REFERENCES `specialclassregistration` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment`
--

LOCK TABLES `payment` WRITE;
/*!40000 ALTER TABLE `payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plan`
--

DROP TABLE IF EXISTS `plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `plan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `gymId` int(11) NOT NULL,
  `name` varchar(191) NOT NULL,
  `durationDays` int(11) NOT NULL DEFAULT 30,
  `price` decimal(10,2) NOT NULL,
  `description` varchar(191) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `Plan_gymId_idx` (`gymId`),
  CONSTRAINT `Plan_gymId_fkey` FOREIGN KEY (`gymId`) REFERENCES `gym` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plan`
--

LOCK TABLES `plan` WRITE;
/*!40000 ALTER TABLE `plan` DISABLE KEYS */;
INSERT INTO `plan` VALUES (1,1,'plan basico',30,100.00,'',1),(2,3,'PLAN BASICO 1',30,233.00,'',1);
/*!40000 ALTER TABLE `plan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `gymId` int(11) NOT NULL,
  `name` varchar(191) NOT NULL,
  `description` varchar(191) DEFAULT NULL,
  `costPrice` decimal(10,2) NOT NULL DEFAULT 0.00,
  `price` decimal(10,2) NOT NULL,
  `stock` int(11) NOT NULL DEFAULT 0,
  `photoUrl` varchar(191) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Product_gymId_idx` (`gymId`),
  CONSTRAINT `Product_gymId_fkey` FOREIGN KEY (`gymId`) REFERENCES `gym` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
INSERT INTO `product` VALUES (1,1,'agua cielo','',1.00,2.00,7,'',1,'2026-05-08 23:38:31.366','2026-05-10 18:38:44.515'),(2,1,'sporate','asdasd',2.00,3.00,11,NULL,1,'2026-05-10 15:48:50.240','2026-05-10 16:52:59.333');
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sale`
--

DROP TABLE IF EXISTS `sale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sale` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `gymId` int(11) NOT NULL,
  `memberId` int(11) DEFAULT NULL,
  `total` decimal(10,2) NOT NULL,
  `date` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `Sale_gymId_idx` (`gymId`),
  KEY `Sale_memberId_fkey` (`memberId`),
  CONSTRAINT `Sale_gymId_fkey` FOREIGN KEY (`gymId`) REFERENCES `gym` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `Sale_memberId_fkey` FOREIGN KEY (`memberId`) REFERENCES `member` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sale`
--

LOCK TABLES `sale` WRITE;
/*!40000 ALTER TABLE `sale` DISABLE KEYS */;
INSERT INTO `sale` VALUES (1,1,NULL,2.36,'2026-05-08 23:47:59.119'),(2,1,NULL,16.00,'2026-05-08 23:50:51.023'),(3,1,NULL,4.00,'2026-05-08 23:51:52.143'),(4,1,NULL,3.00,'2026-05-10 16:52:59.333'),(5,1,NULL,8.00,'2026-05-10 18:38:44.515');
/*!40000 ALTER TABLE `sale` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `saleitem`
--

DROP TABLE IF EXISTS `saleitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `saleitem` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `saleId` int(11) NOT NULL,
  `productId` int(11) NOT NULL,
  `quantity` int(11) NOT NULL,
  `priceAtSale` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `SaleItem_saleId_fkey` (`saleId`),
  KEY `SaleItem_productId_fkey` (`productId`),
  CONSTRAINT `SaleItem_productId_fkey` FOREIGN KEY (`productId`) REFERENCES `product` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `SaleItem_saleId_fkey` FOREIGN KEY (`saleId`) REFERENCES `sale` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `saleitem`
--

LOCK TABLES `saleitem` WRITE;
/*!40000 ALTER TABLE `saleitem` DISABLE KEYS */;
INSERT INTO `saleitem` VALUES (1,1,1,1,2.36),(2,2,1,8,2.00),(3,3,1,2,2.00),(4,4,2,1,3.00),(5,5,1,4,2.00);
/*!40000 ALTER TABLE `saleitem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule`
--

DROP TABLE IF EXISTS `schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schedule` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `classId` int(11) NOT NULL,
  `trainerId` int(11) NOT NULL,
  `dayOfWeek` int(11) NOT NULL,
  `startTime` varchar(191) NOT NULL,
  `endTime` varchar(191) NOT NULL,
  `capacity` int(11) NOT NULL DEFAULT 20,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Schedule_classId_fkey` (`classId`),
  KEY `Schedule_trainerId_fkey` (`trainerId`),
  CONSTRAINT `Schedule_classId_fkey` FOREIGN KEY (`classId`) REFERENCES `gymclass` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Schedule_trainerId_fkey` FOREIGN KEY (`trainerId`) REFERENCES `user` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule`
--

LOCK TABLES `schedule` WRITE;
/*!40000 ALTER TABLE `schedule` DISABLE KEYS */;
INSERT INTO `schedule` VALUES (1,1,1,1,'08:00','09:00',20,1,'2026-05-07 22:21:07.252','2026-05-07 22:21:07.252'),(2,1,1,3,'08:00','09:00',20,1,'2026-05-07 22:21:14.377','2026-05-07 22:21:14.377'),(3,1,1,5,'08:00','09:00',20,1,'2026-05-07 22:21:23.018','2026-05-07 22:21:23.018'),(4,2,4,5,'17:00','20:00',20,1,'2026-05-08 22:01:41.087','2026-05-08 22:20:49.768'),(5,5,6,1,'08:00','09:00',20,1,'2026-05-09 21:09:46.604','2026-05-09 21:09:46.604'),(6,5,6,6,'16:10','17:00',20,1,'2026-05-09 21:13:02.354','2026-05-09 21:13:02.354');
/*!40000 ALTER TABLE `schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `setting`
--

DROP TABLE IF EXISTS `setting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `setting` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `gymId` int(11) DEFAULT NULL,
  `key` varchar(191) NOT NULL,
  `value` longtext NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Setting_gymId_key_key` (`gymId`,`key`),
  KEY `Setting_gymId_idx` (`gymId`),
  CONSTRAINT `Setting_gymId_fkey` FOREIGN KEY (`gymId`) REFERENCES `gym` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `setting`
--

LOCK TABLES `setting` WRITE;
/*!40000 ALTER TABLE `setting` DISABLE KEYS */;
INSERT INTO `setting` VALUES (1,1,'gym_name','gym rock'),(2,1,'gym_email','contacto@eigym.com'),(3,1,'gym_phone','+51 987 654 321'),(4,1,'gym_address','Av. Siempre Viva 123'),(5,1,'gym_logo_url','/uploads/logo_1778278265236.png'),(8,NULL,'saas_logo_url','/uploads/logo_1778435362463.png'),(9,3,'GYM_NAME','gym roca'),(10,3,'CURRENCY','S/'),(11,3,'gym_logo_url','/uploads/logo_1778346553837.webp'),(12,NULL,'saas_footer_logo_url','/uploads/logo_1778431178017.png'),(13,4,'GYM_NAME','Test Gym'),(14,4,'CURRENCY','S/'),(15,NULL,'saas_footer_text','Made with ÔØñ´©Å for fitness enthusiast');
/*!40000 ALTER TABLE `setting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `specialclass`
--

DROP TABLE IF EXISTS `specialclass`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `specialclass` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `gymId` int(11) NOT NULL,
  `name` varchar(191) NOT NULL,
  `description` varchar(191) DEFAULT NULL,
  `price` decimal(10,2) NOT NULL,
  `memberPrice` decimal(10,2) NOT NULL DEFAULT 0.00,
  `schedule` varchar(191) DEFAULT NULL,
  `dayOfWeek` int(11) DEFAULT NULL,
  `startTime` varchar(191) DEFAULT NULL,
  `endTime` varchar(191) DEFAULT NULL,
  `capacity` int(11) DEFAULT NULL,
  `color` varchar(191) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `SpecialClass_gymId_idx` (`gymId`),
  CONSTRAINT `SpecialClass_gymId_fkey` FOREIGN KEY (`gymId`) REFERENCES `gym` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `specialclass`
--

LOCK TABLES `specialclass` WRITE;
/*!40000 ALTER TABLE `specialclass` DISABLE KEYS */;
INSERT INTO `specialclass` VALUES (2,1,'clase demo11','asdas',22.00,0.00,NULL,5,'06:30','07:00',33,'#F43F5E',1,'2026-05-08 23:35:52.926','2026-05-08 23:35:52.926'),(3,3,'dia de la madre','asdasdas',22.00,0.00,NULL,3,'08:00','09:00',12,'#4F46E5',1,'2026-05-09 19:32:39.097','2026-05-09 19:32:39.097');
/*!40000 ALTER TABLE `specialclass` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `specialclassregistration`
--

DROP TABLE IF EXISTS `specialclassregistration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `specialclassregistration` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `specialClassId` int(11) NOT NULL,
  `memberId` int(11) NOT NULL,
  `registrationDate` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `status` varchar(191) NOT NULL DEFAULT 'ACTIVE',
  PRIMARY KEY (`id`),
  UNIQUE KEY `SpecialClassRegistration_specialClassId_memberId_key` (`specialClassId`,`memberId`),
  KEY `SpecialClassRegistration_memberId_fkey` (`memberId`),
  CONSTRAINT `SpecialClassRegistration_memberId_fkey` FOREIGN KEY (`memberId`) REFERENCES `member` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `SpecialClassRegistration_specialClassId_fkey` FOREIGN KEY (`specialClassId`) REFERENCES `specialclass` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `specialclassregistration`
--

LOCK TABLES `specialclassregistration` WRITE;
/*!40000 ALTER TABLE `specialclassregistration` DISABLE KEYS */;
INSERT INTO `specialclassregistration` VALUES (1,2,6,'2026-05-08 23:36:22.139','ACTIVE');
/*!40000 ALTER TABLE `specialclassregistration` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trainerattendance`
--

DROP TABLE IF EXISTS `trainerattendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trainerattendance` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `trainerId` int(11) NOT NULL,
  `gymId` int(11) NOT NULL,
  `scheduleId` int(11) DEFAULT NULL,
  `checkIn` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `checkOut` datetime(3) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'PRESENT',
  `notes` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `TrainerAttendance_trainerId_idx` (`trainerId`),
  KEY `TrainerAttendance_gymId_idx` (`gymId`),
  KEY `TrainerAttendance_scheduleId_idx` (`scheduleId`),
  CONSTRAINT `TrainerAttendance_gymId_fkey` FOREIGN KEY (`gymId`) REFERENCES `gym` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `TrainerAttendance_scheduleId_fkey` FOREIGN KEY (`scheduleId`) REFERENCES `schedule` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `TrainerAttendance_trainerId_fkey` FOREIGN KEY (`trainerId`) REFERENCES `user` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trainerattendance`
--

LOCK TABLES `trainerattendance` WRITE;
/*!40000 ALTER TABLE `trainerattendance` DISABLE KEYS */;
INSERT INTO `trainerattendance` VALUES (1,6,3,6,'2026-05-09 21:39:39.280',NULL,'LATE',NULL);
/*!40000 ALTER TABLE `trainerattendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `password` varchar(191) NOT NULL,
  `role` enum('SUPERADMIN','ADMIN','TRAINER','RECEPTION') NOT NULL DEFAULT 'RECEPTION',
  `notes` longtext DEFAULT NULL,
  `gymId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_email_key` (`email`),
  KEY `User_gymId_fkey` (`gymId`),
  CONSTRAINT `User_gymId_fkey` FOREIGN KEY (`gymId`) REFERENCES `gym` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-11 15:22:06
